<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Musicon</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @{string ctrName = ViewContext.RouteData.Values["controller"].ToString();}

    @*<div id="menucontainer">
            <ul id="menu">
                <li @if (ctrName == "Home") { <text> class="active" </text> }>@ Html.ActionLink("Home",  "Index", "Home")</li>
                <li @if (ctrName == "About") { <text> class="active" </text> }>@ Html.ActionLink("About Us", "About", "Home")</li>
            </ul>
        </div>*@

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (ctrName == "Home")
                {
                    @Html.ActionLink("Musicon", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color:red;" })
                }
                else
                {
                    @Html.ActionLink("Musicon", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ctrName == "Song")
                    {
                        <li>@Html.ActionLink("Songs", "Index", "Song", new { @style = "color:red;" })</li>
                        <li>@Html.ActionLink("Groups", "Index", "Group")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                    else if (ctrName == "Group")
                    {
                        <li>@Html.ActionLink("Songs", "Index", "Song")</li>
                        <li>@Html.ActionLink("Groups", "Index", "Group", new { @style = "color:red;" })</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Songs", "Index", "Song")</li>
                        <li>@Html.ActionLink("Groups", "Index", "Group")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - by BT Merchant 2016</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
