@model IEnumerable<Musicon.Models.Group>

@{
    ViewBag.Title = "Group List";
}

<h2>Groups</h2>

<p>
    @Html.ActionLink("Create A New Group", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFormed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.GroupId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFormed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GroupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroupId })   |
            @Html.ActionLink("Join", "Join", new { id=item.GroupId })   |
            @Html.ActionLink("Quit", "Quit", new { id = item.GroupId })
        </td>
    </tr>
}

</table>
