@model Musicon.Models.Group

@{
    ViewBag.Title = "Quit";
}

<h2>Quit</h2>
@if (ViewBag.Error)
{
    <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
}



<div>
    <h3>Are you sure you want to quit this Group?</h3>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div id="equalheight">
                <div class="col-12 col-lg-3 col-md-3 col-sm-3 col-xs-12 info-box">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DateFormed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DateFormed)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Style)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Style)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Quit" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
                <div class="col-12 col-lg-3 col-md-3 col-sm-3 col-xs-12 info-box">
                    <p></p>
                </div>
                <div class="col-12 col-lg-3 col-md-3 col-sm-3 col-xs-12 info-box">

                    <div class="group-info" style="float:right">
                        <h4>The members of this group are </h4>
                        @foreach (var item in ViewBag.memberList)
                        {
                            <h5>@item.NameFirst @item.NameLast</h5>
                        }
                    </div>

                </div>
            </div>
        </div><!--/row-->
    </div>
