@model IEnumerable<Musicon.Models.Song>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="display:inline;">Musicon</h1><h2 style="display:inline;"> - The </h2><h2 style="color:blue; display:inline;">Musi</h2><h2 style="display:inline;">c </h2><h2 style="color:blue; display:inline;">Con</h2><h2 style="display:inline;">nection</h2>
    <p class="lead">Musicians SongList and Group Organization Tool.</p>
    <p class="lead">Please Login - or Register</p>
    @*<p><a href="http://musicon.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="jumbotron" style="padding-top: 10px;">
    <div>
        <b style="font-size: 20px;">All Members Songs &nbsp;&nbsp;</b>
        <div style="float:right">
            <b style="font-size: 20px;"> For your songs Please Login</b>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                Song Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tempo)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Tempo)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.SongId })
                </td>
            </tr>
        }
    </table>
</div>
